[submodule "fred"]
	path = fred
	url = git@github.com:Ruby-on-Rails-Wizardry/fred.git
	branch = master
[submodule "george"]
	path = george
	url = git@github.com:Ruby-on-Rails-Wizardry/george.git
	branch = master
[submodule "ron"]
	path = ron
	url = git@github.com:Ruby-on-Rails-Wizardry/ron.git
	branch = master
[submodule "harry"]
	path = harry
	url = git@github.com:Ruby-on-Rails-Wizardry/harry.git
	branch = master
[submodule "wizardry_shared"]
	path = wizardry_shared
	url = git@github.com:Ruby-on-Rails-Wizardry/wizardry_shared.git
	branch = master
